/* Cinzel Regular */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Cinzel Black */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-Black.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: black;
}

/* Cinzel Bold */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

/* Cinzel extra bold */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-ExtraBold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: italic;
}

/* Cinzel Medium */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}


/* Cinzel SemiBold */
@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel/Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

/* PMINGLIU regular */
@font-face {
    font-family: 'pmingliu';
    src: url('/fonts/Pmingliu/PMINGLIU.ttf') format('truetype');
    font-weight: 400; /* PMINGLIU */
    font-style: normal;
}